@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  line-height: 1.75;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Top Contents */

.topContents {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e6f2ff;
  transition: padding 0.5s;
  height: 100vh;
  transition: height 0.5s;
}

.topContents.fixed {
  position: fixed;
  height: 80px;
  top: 0px;
  transition: top 0.5s;
}

.topContents.fixed.hide {
  position: fixed;
  top: -80px;
}

/* .topContents::after {
  display: block;
  content: '';
  border: 0;
  border-bottom: 2px solid grey;
  width: 80%;
} */

.menu_lists {
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
}

.heading_top {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
}

#img-header {
  width: 30%;
  opacity: 0.9;
  transition: width 0.5s;
  /* display: none; */
}

/* Section Menu */

/* News */

.news_section {
  margin: 0px 50px 100px 150px;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.heading {
  margin-top: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  width: 100%;
}

.heading::after {
  display: block;
  content: '';
  border: 0;
  border-bottom: 2px solid black;
  width: 50%;
  margin-bottom: 15px;
}

.news-list-group {
  width: 100%;
}

.news-items {
  margin-top: 15px;
  position: relative;
  cursor: pointer;
  animation: fadeIn 500ms ease;
}

.news-not-found {
  margin-top: 15px;
  position: relative;
  display: none;
  animation: fadeIn 500ms ease;
}

.news-items::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* .news-items.active .content {
  opacity: 1;
  height: 100px;
  margin-top: 20px;
} */

.news-items.active::before {
  content: '-';
  font-size: 50px;
}

/* .content::before {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid black;
} */

.content {
  height: 0;
  position: relative;
  opacity: 0;
  display: flex;
  margin-left: 230px;
  width: 70%;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.5s;
  align-items: center;
}

.date {
  color: #bcbec1;
  font-size: 15px;
  display: inline-block;
  width: 98px;
}

.category {
  display: inline-block;
  width: 92px;
  border: 1px solid grey;
  border-radius: 25px;
  font-size: 12px;
  color: black;
  text-align: center;
  margin-left: 12px;
}

.title-news {
  margin-left: 20px;
  display: inline;
  /* font-size: 25px; */
}

.btn {
  width: 15%;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  margin-top: 20px;
}

/* Schedule */

/* .schedule_section {
  margin: 0px 50px 100px 150px;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.schedule_list {
  width: 100%;
}

.schedule_items {
  margin-top: 25px;
} */

/* Profile */
.profile_section {
  margin: 24px 50px 100px 150px;
  width: 70%;
}

.heading_profile {
  margin-bottom: 35px;
}

.heading-details {
  font-size: 2rem;
}

#imgProfile {
  width: 40%;
  border-radius: 30px;
  transition: border-radius 1s ease;
}

#imgProfile:hover {
  border-radius: 100px;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mikuHistory {
  margin-bottom: 22px;
}

.btn-mobame,
.btn-blog {
  width: auto;
}

/* Gallery */
.gallery_section {
  margin: 24px 50px 100px 150px;
  width: 80%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.galleryImg {
  margin: 12px;
  width: 30%;
}

.galleryImg:hover {
  cursor: pointer;
}

/* Lightbox Gallery */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(99, 99, 99, 0.856);
  visibility: hidden;
  opacity: 0;
  transition: visibility 500ms ease, opacity 500ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transition: visibility 500ms ease, opacity 500ms ease;
}

.modal-content {
  position: relative;
  /* background-color: #fefefe; */
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.close {
  color: white;
  position: absolute;
  top: 40px;
  right: 30%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.galleryImgModal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  animation: fadeIn 500ms ease;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.7s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev {
  left: 26%;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 26%;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* News Page */
.btn-filter-news {
  width: 10%;
  height: 10%;
  cursor: pointer;
}

.active-button-filter {
  background-color: #666;
  color: white;
}

/* Movies Page */
.movies_section {
  margin: 24px 50px 100px 150px;
  width: 80%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 20px 0 0px 50px;
  border: 2px black solid;
  line-height: 0;
}

/* Footer */
.footer {
  display: flex;
  margin-bottom: 50px;
}

.text-copyright {
  margin: 0 auto;
}

/* Responsive */
@media only screen and (max-width: 380px) {
  .topContents {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6f2ff;
    transition: padding 0.5s;
    height: 100vh;
    transition: height 0.5s;
  }

  #img-header {
    width: 50%;
    opacity: 0.9;
    transition: width 0.5s;
    /* display: none; */
  }

  /* News */
  .news_section {
    margin: 0px 50px 100px 50px;
    width: 69%;
  }

  .news-items::before {
    right: -20px;
  }

  .content {
    margin-left: 0px;
    width: 100%;
    font-size: 12px;
  }

  .btn {
    width: 45%;
  }

  /* Profile */

  .profile_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  #imgProfile {
    width: 80%;
    border-radius: 30px;
    transition: border-radius 1s ease;
  }

  .btn-mobame,
  .btn-blog {
    width: auto;
  }
  /* Gallery */
  .gallery_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  .galleryImg {
    margin: 12px;
    width: 40%;
  }

  /* Lightbox Gallery */
  .close {
    color: white;
    position: absolute;
    top: 50px;
    right: 15%;
    font-size: 35px;
    font-weight: bold;
  }

  .galleryImgModal {
    width: 60%;
  }

  .prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

  /* Movies Page */
  .movies_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  .movie {
    margin: 20px 0 0px 0px;
    border: 2px black solid;
    line-height: 0;
  }

  .movie iframe {
    width: 300px;
  }

  /* Footer */
  .text-copyright {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767.98px) {
  .topContents {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6f2ff;
    transition: padding 0.5s;
    height: 100vh;
    transition: height 0.5s;
  }

  #img-header {
    width: 40%;
    opacity: 0.9;
    transition: width 0.5s;
    /* display: none; */
  }

  /* News */
  .news_section {
    margin: 0px 50px 100px 50px;
    width: 90%;
  }

  .news-items::before {
    right: -20px;
  }

  .content {
    margin-left: 0px;
    width: 100%;
    font-size: 16px;
  }

  .btn {
    width: 45%;
  }

  /* Profile */

  .profile_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  #imgProfile {
    width: 60%;
    border-radius: 30px;
    transition: border-radius 1s ease;
  }

  .btn-mobame,
  .btn-blog {
    width: auto;
  }
  /* Gallery */
  .gallery_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  .galleryImg {
    margin: 12px;
    width: 46%;
  }

  /* Lightbox Gallery */
  .close {
    color: white;
    position: absolute;
    top: 50px;
    right: 15%;
    font-size: 35px;
    font-weight: bold;
  }

  .galleryImgModal {
    width: 60%;
  }

  .prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

  /* Movies Page */
  .movies_section {
    margin: 24px 50px 100px 50px;
    width: 90%;
  }

  .movie {
    margin: 20px 0 0px 12px;
    border: 2px black solid;
    line-height: 0;
  }

  .movie iframe {
    width: 320px;
  }

  /* Footer */
  .text-copyright {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 991.98px) {
  .topContents {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6f2ff;
    transition: padding 0.5s;
    height: 100vh;
    transition: height 0.5s;
  }

  #img-header {
    width: 40%;
    opacity: 0.9;
    transition: width 0.5s;
    /* display: none; */
  }

  /* News */
  .news_section {
    margin: 0px 50px 100px 50px;
    width: 90%;
  }

  .news-items::before {
    right: -20px;
  }

  .content {
    margin-left: 0px;
    width: 100%;
    font-size: 16px;
  }

  .title-news {
    margin-left: 20px;
    display: inline;
    /* font-size: 15px; */
  }

  .btn {
    width: 45%;
  }

  /* Profile */

  .profile_section {
    margin: 24px 50px 100px 50px;
    width: 90%;
  }

  #imgProfile {
    width: 50%;
    border-radius: 30px;
    transition: border-radius 1s ease;
  }

  .btn-mobame,
  .btn-blog {
    width: auto;
  }
  /* Gallery */
  .gallery_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  .galleryImg {
    margin: 12px;
    width: 46%;
  }

  /* Lightbox Gallery */
  .close {
    color: white;
    position: absolute;
    top: 50px;
    right: 15%;
    font-size: 35px;
    font-weight: bold;
  }

  .galleryImgModal {
    width: 60%;
  }

  .prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

  /* Movies Page */
  .movies_section {
    margin: 24px 50px 100px 50px;
    width: 90%;
  }

  .movie {
    margin: 20px 0 0px 12px;
    border: 2px black solid;
    line-height: 0;
  }

  .movie iframe {
    width: 430px;
  }

  /* Footer */
  .text-copyright {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1119.98px) {
  .topContents {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6f2ff;
    transition: padding 0.5s;
    height: 100vh;
    transition: height 0.5s;
  }

  #img-header {
    width: 40%;
    opacity: 0.9;
    transition: width 0.5s;
    /* display: none; */
  }

  /* News */
  .news_section {
    margin: 0px 50px 100px 50px;
    width: 90%;
  }

  .news-items::before {
    right: -20px;
  }

  .content {
    margin-left: 0px;
    width: 100%;
    font-size: 16px;
  }

  .title-news {
    margin-left: 20px;
    display: inline;
    /* font-size: 15px; */
  }

  .btn {
    width: 45%;
  }

  /* Profile */

  .profile_section {
    margin: 24px 50px 100px 50px;
    width: 90%;
  }

  #imgProfile {
    width: 50%;
    border-radius: 30px;
    transition: border-radius 1s ease;
  }

  .btn-mobame,
  .btn-blog {
    width: auto;
  }
  /* Gallery */
  .gallery_section {
    margin: 24px 50px 100px 50px;
    width: 80%;
  }

  .galleryImg {
    margin: 12px;
    width: 46%;
  }

  /* Lightbox Gallery */
  .close {
    color: white;
    position: absolute;
    top: 50px;
    right: 15%;
    font-size: 35px;
    font-weight: bold;
  }

  .galleryImgModal {
    width: 60%;
  }

  .prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 5%;
    border-radius: 3px 0 0 3px;
  }

  /* Movies Page */
  .movies_section {
    margin: 24px 50px 100px 50px;
    width: 90%;
  }

  .movie {
    margin: 20px 0 0px 12px;
    border: 2px black solid;
    line-height: 0;
  }

  .movie iframe {
    width: 430px;
  }

  /* Footer */
  .text-copyright {
    margin: 0 auto;
  }
}
